(
 :tv_cnf_flat_kb
 main
 (
  :tv_cnf
  ()
  (
   (:bool_variable (:identifier ix $nil $nil) () -1)
   (:bool_variable (:identifier y1 $nil $nil) () -1)
   (:bool_variable (:identifier y2 $nil $nil) () -1)
   (:bool_variable (:identifier y3 $nil $nil) () -1)
   (:bool_variable (:identifier y4 $nil $nil) () -1)
   (:bool_variable (:identifier y5 $nil $nil) () -1)
   (:bool_variable (:identifier y6 $nil $nil) () -1)
   (:bool_variable (:identifier y7 $nil $nil) () -1)
   (:bool_variable (:identifier y8 $nil $nil) () -1)
   (:bool_variable (:identifier y9 $nil $nil) () -1)
   (:bool_variable (:identifier y10 $nil $nil) () -1)
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I0 $nil)))
    (
     (:float_variable_attribute probability (0.05 0.95))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I1 $nil)))
    (
     (:float_variable_attribute probability (0.05 0.95))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I2 $nil)))
    (
     (:float_variable_attribute probability (0.05 0.95))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I3 $nil)))
    (
     (:float_variable_attribute probability (0.05 0.95))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I4 $nil)))
    (
     (:float_variable_attribute probability (0.05 0.95))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I5 $nil)))
    (
     (:float_variable_attribute probability (0.05 0.95))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I6 $nil)))
    (
     (:float_variable_attribute probability (0.05 0.95))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I7 $nil)))
    (
     (:float_variable_attribute probability (0.05 0.95))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I8 $nil)))
    (
     (:float_variable_attribute probability (0.05 0.95))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I9 $nil)))
    (
     (:float_variable_attribute probability (0.05 0.95))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
  )
  ()
  ()
  0
  (
   (:tv_clause () (0 1 11))
   (:tv_clause () (1 2 12))
   (:tv_clause () (2 3 13))
   (:tv_clause () (3 4 14))
   (:tv_clause () (4 5 15))
   (:tv_clause () (5 6 16))
   (:tv_clause () (6 7 17))
   (:tv_clause () (7 8 18))
   (:tv_clause () (8 9 19))
   (:tv_clause () (9 10 20))
   (:tv_clause (0 1) (11))
   (:tv_clause (1 2) (12))
   (:tv_clause (2 3) (13))
   (:tv_clause (3 4) (14))
   (:tv_clause (4 5) (15))
   (:tv_clause (5 6) (16))
   (:tv_clause (6 7) (17))
   (:tv_clause (7 8) (18))
   (:tv_clause (8 9) (19))
   (:tv_clause (9 10) (20))
  )
 )
)
