(
 :tv_cnf_flat_kb
 main
 (
  :tv_cnf
  ()
  (
   (
    :bool_variable
    (:identifier x $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier y $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier z $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I0 $nil)))
    (
     (:bool_variable_attribute health (nil t))
     (:float_variable_attribute probability (0.01 0.99))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier I1 $nil)))
    (
     (:bool_variable_attribute health (nil t))
     (:float_variable_attribute probability (0.01 0.99))
    )
    -1
   )
  )
  ()
  ()
  0
  (
   (:tv_clause () (0 1 3))
   (:tv_clause () (1 2 4))
   (:tv_clause (0 1) (3))
   (:tv_clause (1 2) (4))
  )
 )
)
