(
 :tv_cnf_flat_kb
 subtractor
 (
  :tv_cnf
  ()
  (
   (
    :bool_variable
    (:identifier x $nil $nil)
    (
     (:bool_variable_attribute observable (t t))
     (:bool_variable_attribute input (t t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier y $nil $nil)
    (
     (:bool_variable_attribute observable (t t))
     (:bool_variable_attribute input (t t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier p $nil $nil)
    (
     (:bool_variable_attribute observable (t t))
     (:bool_variable_attribute input (t t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier d $nil $nil)
    (
     (:bool_variable_attribute observable (t t))
     (:bool_variable_attribute output (t t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier b $nil $nil)
    (
     (:bool_variable_attribute observable (t t))
     (:bool_variable_attribute output (t t))
    )
    -1
   )
   (:bool_variable (:identifier i $nil $nil) () -1)
   (:bool_variable (:identifier j $nil $nil) () -1)
   (:bool_variable (:identifier k $nil $nil) () -1)
   (:bool_variable (:identifier l $nil $nil) () -1)
   (:bool_variable (:identifier m $nil $nil) () -1)
   (
    :bool_variable
    (:identifier h $nil ((:qualifier h1 $nil)))
    (
     (:float_variable_attribute probability (0.01 0.99))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier h2 $nil)))
    (
     (:float_variable_attribute probability (0.01 0.99))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier h3 $nil)))
    (
     (:float_variable_attribute probability (0.01 0.99))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier h4 $nil)))
    (
     (:float_variable_attribute probability (0.01 0.99))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier h5 $nil)))
    (
     (:float_variable_attribute probability (0.01 0.99))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier h6 $nil)))
    (
     (:float_variable_attribute probability (0.01 0.99))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
   (
    :bool_variable
    (:identifier h $nil ((:qualifier h7 $nil)))
    (
     (:float_variable_attribute probability (0.01 0.99))
     (:bool_variable_attribute health (nil t))
    )
    -1
   )
  )
  ()
  ()
  0
  (
   (:tv_clause () (0 8 15))
   (:tv_clause (0 8) (15))
   (:tv_clause (1) (7 16))
   (:tv_clause (2) (7 16))
   (:tv_clause (4) (7 14))
   (:tv_clause (4) (9 14))
   (:tv_clause (6) (1 12))
   (:tv_clause (6) (2 12))
   (:tv_clause (6) (9 13))
   (:tv_clause (8) (9 13))
   (:tv_clause () (0 3 5 11))
   (:tv_clause () (1 2 5 10))
   (:tv_clause (0 3) (5 11))
   (:tv_clause (0 5) (3 11))
   (:tv_clause (1 2) (5 10))
   (:tv_clause (1 2) (6 12))
   (:tv_clause (1 5) (2 10))
   (:tv_clause (2 5) (1 10))
   (:tv_clause (3 5) (0 11))
   (:tv_clause (7) (1 2 16))
   (:tv_clause (7 9) (4 14))
   (:tv_clause (9) (6 8 13))
  )
 )
)
