(
 :tv_cnf_flat_kb
 stereo
 (
  :tv_cnf
  ()
  (
   (
    :bool_variable
    (:identifier powerSwitchCD $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier playButton $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier playLight $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier stopButton $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier powerSwitchAmp $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier powerLightCD $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier powerLightAmp $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier speakerLeft $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier speakerRight $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier soundLeft $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier soundRight $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier sound $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier cdLeft $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier cdRight $nil $nil)
    ((:bool_variable_attribute observable (t t)))
    -1
   )
   (
    :bool_variable
    (:identifier f_power $nil ((:qualifier cd $nil)))
    (
     (:float_variable_attribute probability (0.9 0.1))
     (:bool_variable_attribute health (t nil))
    )
    -1
   )
   (
    :bool_variable
    (:identifier f_channelLeft $nil ((:qualifier cd $nil)))
    (
     (:float_variable_attribute probability (0.999 0.001))
     (:bool_variable_attribute health (t nil))
    )
    -1
   )
   (
    :bool_variable
    (:identifier f_channelRight $nil ((:qualifier cd $nil)))
    (
     (:float_variable_attribute probability (0.999 0.001))
     (:bool_variable_attribute health (t nil))
    )
    -1
   )
   (
    :bool_variable
    (:identifier switchedOn $nil ((:qualifier cd $nil)))
    ()
    -1
   )
   (:bool_variable (:identifier playing $nil ((:qualifier cd $nil))) () -1)
   (
    :bool_variable
    (:identifier f $nil ((:qualifier cd $nil) (:qualifier powerLed $nil)))
    (
     (:float_variable_attribute probability (0.9999 0.0001))
     (:bool_variable_attribute health (t nil))
    )
    -1
   )
   (
    :bool_variable
    (
     :identifier
     f
     $nil
     ((:qualifier cd $nil) (:qualifier playingLed $nil))
    )
    (
     (:float_variable_attribute probability (0.9999 0.0001))
     (:bool_variable_attribute health (t nil))
    )
    -1
   )
   (
    :bool_variable
    (:identifier f_power $nil ((:qualifier amplifier $nil)))
    (
     (:float_variable_attribute probability (0.9 0.1))
     (:bool_variable_attribute health (t nil))
    )
    -1
   )
   (
    :bool_variable
    (:identifier f_channelLeft $nil ((:qualifier amplifier $nil)))
    (
     (:float_variable_attribute probability (0.999 0.001))
     (:bool_variable_attribute health (t nil))
    )
    -1
   )
   (
    :bool_variable
    (:identifier f_channelRight $nil ((:qualifier amplifier $nil)))
    (
     (:float_variable_attribute probability (0.999 0.001))
     (:bool_variable_attribute health (t nil))
    )
    -1
   )
   (
    :bool_variable
    (:identifier switchedOn $nil ((:qualifier amplifier $nil)))
    ()
    -1
   )
   (
    :bool_variable
    (
     :identifier
     f
     $nil
     ((:qualifier amplifier $nil) (:qualifier powerLed $nil))
    )
    (
     (:float_variable_attribute probability (0.9999 0.0001))
     (:bool_variable_attribute health (t nil))
    )
    -1
   )
   (
    :bool_variable
    (:identifier f $nil ((:qualifier leftSpeaker $nil)))
    (
     (:float_variable_attribute probability (0.99 0.01))
     (:bool_variable_attribute health (t nil))
    )
    -1
   )
   (
    :bool_variable
    (:identifier f $nil ((:qualifier rightSpeaker $nil)))
    (
     (:float_variable_attribute probability (0.99 0.01))
     (:bool_variable_attribute health (t nil))
    )
    -1
   )
  )
  ()
  ()
  0
  (
   (:tv_clause () (2 20))
   (:tv_clause () (3 18))
   (:tv_clause () (5 19))
   (:tv_clause () (6 25))
   (:tv_clause () (7 22))
   (:tv_clause () (8 23))
   (:tv_clause () (9 26))
   (:tv_clause () (10 27))
   (:tv_clause () (12 15))
   (:tv_clause () (13 16))
   (:tv_clause () (14 17))
   (:tv_clause () (21 24))
   (:tv_clause (0) (17))
   (:tv_clause (1) (18))
   (:tv_clause (4) (24))
   (:tv_clause (7) (9))
   (:tv_clause (8) (10))
   (:tv_clause (11) (9))
   (:tv_clause (11) (10))
   (:tv_clause (12) (7))
   (:tv_clause (13) (8))
   (:tv_clause (17) (5))
   (:tv_clause (17) (18))
   (:tv_clause (18) (2))
   (:tv_clause (18) (12))
   (:tv_clause (18) (13))
   (:tv_clause (24) (6))
   (:tv_clause (24) (7))
   (:tv_clause (24) (8))
   (:tv_clause (2 20) (18))
   (:tv_clause (5 19) (17))
   (:tv_clause (6 25) (24))
   (:tv_clause (9 10) (11))
   (:tv_clause (9 26) (7))
   (:tv_clause (10 27) (8))
   (:tv_clause (12 15) (18))
   (:tv_clause (13 16) (18))
   (:tv_clause (14 17) (0))
   (:tv_clause (21 24) (4))
   (:tv_clause (3 18) (1 17))
   (:tv_clause (7 22) (12 24))
   (:tv_clause (8 23) (13 24))
  )
 )
)
